
body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    background-image: url("https://www.hotel-destroiscouronnes.com/media/cache/jadro_resize/rc/qe7exmdW1515485768/jadroRoot/medias/59564ddcde2c5/3557-so-restaurant-photo-background-03-fr.jpg");
    background-size: 100%;

}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    width: 50%;
    height: 500px;
    background-color: #FFF;
    opacity: 0.9;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

}

.tab .tablinks{
    width: 200px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow:hidden;
  
   
   
}


#carousel {
        width: 480px;
        overflow:hidden;
    }

    #carousel ul {
        width: 1920px;
        padding: 0;
        margin: 0;
    }

    #carousel ul li {
        width:480px;
        text-align: center;
        height: 280px;
        list-style: none;
        float:  left;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

