<div id="container">
	<h1>Bienvenue</h1>
	<h2>Bonne appétit :)</h2>
	<br>


	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'Presentation')">Presentation</button>
		<button class="tablinks" onclick="openTab(event, 'Menu')">Menu</button>
		<button class="tablinks" onclick="openTab(event, 'Contact')">Contact</button>
		<br><br><br><br><br>
	</div>


	<div id="Presentation" class="tabcontent">
		<h3>Presentation</h3>
		<div id="carousel">
			<ul>
				<li><img src="http://www.alain-ducasse.com/sites/default/files/imagecache/actu_full/rouget_3.jpg"  alt="Filet Rouget", width="400px", height="155px"/></li>
				<li><img src="http://www.addictionoc.com/wp-content/uploads/2017/06/qtq80-WdgD4j.jpeg"  alt="Cotes d'Agneau", width="400px", height="155px"/></li>
				<li><img src="http://cache.marieclaire.fr/data/photo/w1000_c17/cuisine/i13b/cvf123_061.jpg"  alt="Soupe", width="400px", height="155px"/></li>
				<li><img src="http://www.le-train-bleu.com/maj/images_resized/930-so-galerie-plats-so-2014-photo-background04-fr.jpg"  alt="Cotes de Veau", width="400px", height="155px"/></li>
				<li><img src="https://media-cdn.tripadvisor.com/media/photo-s/03/01/87/b5/le-train-bleu.jpg"  alt="Dessert Framboises", width="400px", height="155px"/></li>
			</ul>
		</div>
	</div>

	<div id="Menu" class="tabcontent">
		<h3>Menu</h3>
		<p>
			<ul> 
				<li>Soupe Tradi.</li>
				<li>Filet de Rouget</li>
				<li>Cotes d'Agneau</li>
				<li>Cotes de Veau</li>
				<li>Dessert Framboises</li>
			</ul>
		</p> 
	</div>

	<div id="Contact" class="tabcontent">
		<h3>Contact</h3>
		<p>Demandez Jacky ou Michele au 01 55 88 99 65. Paris 12eme. </p>
	</div>

</div>